<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h3>CraveCode</h3>
            <p>Jl. Sumpah Pemuda Barat No.111, Ruko Blok-C, Jakarta Selatan,21730</p>
        </div>
        <div class="footer-section">
            <h3>Our Stores</h3>
            <p>JAKARTA</p>

        </div>
        <div class="footer-section">
            <h3>Useful Links</h3>
            <p><a href="cravecode.html">HOME</a></p>
            <p><a href="#Menu">MENU</a></p>
            <p><a href="shop.html">SHOP</a></p>
            <p><a href="https://wa.me/6282213549274?text=hi%20codemin,%20mau%20pesan%20ya!" target="_blank">CONTACT
                    US</a></p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2024 CraveCode. All rights reserved.</p>
    </div>
</footer>