<section>
    <nav>
        <ul>
            <li><a href="/shop" class="active">SHOPPING CART</a></li>
            <li><a href="/inprocess">IN PROCESS</a></li>
            <li><a href="/completed">COMPLETED</a></li>
        </ul>
    </nav>
</section>