<div class="sidebar">
    <a href="/" class="sidebar-item">
        <img src="images/ikonhome.png" alt="Home" class="icon">
        <span class="text">Home</span>
    </a>
    <a href="/shop" class="sidebar-item">
        <img src="images/ikonkeranjang.png" alt="Shop" class="icon">
        <span class="text">Shop</span>
    </a>
    <a href="/profile" class="sidebar-item">
        <img src="images/ikonprofile.png" alt="Profile" class="icon">
        <span class="text">Profile</span>
    </a>

    <!-- nanda ini tombol login profile
    <a href="#login" class="sidebar-item button" id="button" onclick="loginShow()">
        <img src="images/ikonprofile.png" alt="Profile" class="icon">
        <span class="text">Profile</span>
    </a> -->

    <!-- logout-->
    <a href="/" class="sidebar-item" onclick="confirmLogout(event)">
        <img src="images/Logout.png" alt="Logout" class="icon2">
        <span class="text2">Logout</span>
    </a>
</div>