<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keranjang</title>
    <link rel="stylesheet" href="styles/completed.css">
</head>

<body>
    <header id="home">
        <%- include("partials/sidebar") %>


    </header>

    <%- include("partials/section-nav") %>

    <!-- nanda ini login-->
    <div class="popup" id="login-popup">
        <div class="popup-content">
            <span class="close" onclick="closeLogin()">&times;</span>
            <h2>Login</h2>
            <form>
                <input type="text" id="username" name="username" placeholder="Username">
                <input type="password" id="password" name="password" placeholder="Password">
                <button class="button-login" type="submit">Login</button>
                <a class="register-klik">Don't have account?<a href="#register" onclick="regisShow()">Register</a></a>
            </form>
        </div>
    </div>

    <!-- nanda ini regis-->
    <div class="popup-regis" id="regis-popup">
        <div class="popup-content-regis">
            <span class="close" onclick="closeRegis(); closeLogin()">&times;</span>
            <h2>Register</h2>
            <form>
                <input type="text" id="username" name="username" placeholder="Username">
                <input type="text" id="email" name="email" placeholder="Email">
                <input type="text" id="phone" name="phone number" placeholder="Phone">
                <input type="password" id="password" name="password" placeholder="Password">
                <button class="button-login" type="submit">Submit</button>
                <a class="register-klik">Already have an account?<a href="#login" onclick="closeRegis()">Login</a></a>
            </form>
        </div>
    </div>

    <main>
        <div class="order-card">
            <div class="items">
                <div class="order-item">
                    <img src="images/product1.png" alt="Product Image">
                    <div class="order-info">
                        <p class="order-title">4-code premium bit x1</p>
                        <p class="order-price">Rp56.000</p>
                    </div>
                </div>
                <div class="order-item">
                    <img src="images/product2.png" alt="Product Image">
                    <div class="order-info">
                        <p class="order-title">4-code premium bit x2</p>
                        <p class="order-price">Rp56.000</p>
                    </div>
                </div>
            </div>

            <div class="total">Rp175.000</div>
            <div class="status">Selesai</div>
        </div>
    </main>

    <%- include("partials/footer") %>


    <script src="scripts/scripts.js"></script>
</body>

</html>