<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="styles/style-landing.css">
</head>

<body>

    <%- include("partials/sidebar") %>

    <div class="container">
        <div class="register-content">
            <h2>Register</h2>
            <form action="/register" method="POST">
                <input type="text" id="username" name="username" placeholder="Username">
                <input type="text" id="email" name="email" placeholder="Email">
                <input type="text" id="phone" name="phone number" placeholder="Phone">
                <input type="password" id="password" name="password" placeholder="Password">
                <button class="button-login" type="submit">Submit</button>
                <a class="login-klik">Already have an account?<a href="/login" onclick="loginShow()">Login</a></a>
            </form>
        </div>
    </div>

    <%- include("partials/footer") %>

    <script src="scripts/scripts.js"></script>
</body>

</html>