<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keranjang</title>
    <link rel="stylesheet" href="styles/style-shop.css">
</head>

<body>
    <header id="home">
        <%- include("partials/sidebar") %>
    </header>

    <%- include("partials/section-nav") %>

    <!-- nanda ini login-->
    <div class="popup" id="login-popup">
        <div class="popup-content">
            <span class="close" onclick="closeLogin()">&times;</span>
            <h2>Login</h2>
            <form>
                <input type="text" id="username" name="username" placeholder="Username">
                <input type="password" id="password" name="password" placeholder="Password">
                <button class="button-login" type="submit">Login</button>
                <a class="register-klik">Don't have account?<a href="#register" onclick="regisShow()">Register</a></a>
            </form>
        </div>
    </div>

    <!-- nanda ini regis-->
    <div class="popup-regis" id="regis-popup">
        <div class="popup-content-regis">
            <span class="close" onclick="closeRegis(); closeLogin()">&times;</span>
            <h2>Register</h2>
            <form>
                <input type="text" id="username" name="username" placeholder="Username">
                <input type="text" id="email" name="email" placeholder="Email">
                <input type="text" id="phone" name="phone number" placeholder="Phone">
                <input type="password" id="password" name="password" placeholder="Password">
                <button class="button-login" type="submit">Submit</button>
                <a class="register-klik">Already have an account?<a href="#login" onclick="closeRegis()">Login</a></a>
            </form>
        </div>
    </div>

    <section class="keranjang">
        <div class="items">
            <!-- nanda //ISI PRODUK YANG DIMASUKAN KERANJANG, loop sesuai jumlah data dalam keranjang-->
            <div class="item">
                <img src="images/product1.png" alt="produk-keranjang">
                <div class="details">
                    <span class="item-name">4-code premium bit</span>
                    <span class="item-price">Rp56.000</span>
                </div>
                <div class="quantity">
                    <!-- nanda //sesuaikan jumlah plus minus-->
                    <button class="minus">-</button>
                    <a>1</a>
                    <button class="plus">+</button>
                </div>
            </div>
        </div>
        <div class="order-summary">
            <h2>Order Summary</h2>
            <div class="summary-details">
                <div class="subtotal">
                    <span>Subtotal</span>
                    <span>Rp56.000</span>
                </div>
                <div class="shipping">
                    <span>Pilih Pengiriman</span>
                    <select>
                        <option value="gopay">SELECT</option>
                        <option value="gosend">GO-SEND</option>
                        <option value="jne">JNE</option>
                        <option value="jnt">JNT</option>
                        <option value="sicepat">SICEPAT</option>
                        <option value="wahana">WAHANA</option>
                    </select>
                </div>
                <div class="payment-method">
                    <span>Metode Pembayaran</span>
                    <select>
                        <option value="gopay">SELECT</option>
                        <option value="gopay">GO-PAY</option>
                        <option value="dana">DANA</option>
                        <option value="ovo">OVO</option>
                        <option value="shopeepay">SHOPEEPAY</option>
                    </select>
                </div>
                <div class="total">
                    <span>Total</span>
                    <!-- nanda -->
                    <span>Rp56.000</span>
                </div>
            </div>
            <button class="checkout" onclick="ShowQR()">CHECKOUT</button>
            <!-- nanda mau checkout tapi customer belum loin-->
            <button class="checkout2" onclick="loginShow()">CHECKOUT</button>
        </div>
    </section>

    <div class="popup-qr" id="qr-popup">
        <div class="popup-content-qr">
            <span class="close" onclick="closeQR()">&times;</span>
            <h2>Scan QR untuk Bayar</h2>
            <img src="images/QR.png" alt="QR" class="icon">
        </div>
    </div>


    <%- include("partials/footer") %>


    <script src="scripts/scripts.js"></script>
</body>

</html>