body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    padding-left: 60px;
    box-sizing: border-box;
    background-color: #FFF8F8;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: left;
    position: relative;
}

nav {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #8597B5;
    height: 50px;
    margin: 30px;
    border-radius: 30px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

nav ul li {
    list-style: none;
    position: relative;
}

nav ul li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 30px;
    color: #000;
    background-color: #fff;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul li a:hover,
nav ul li a.active {
  background-color: #FD9E9E;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
}

.sidebar {
    height: 100%;
    width: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #8597B5;
    overflow-x: hidden;
    transition: width 0.5s;
}

.sidebar:hover {
    width: 200px;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
}

.sidebar-item:hover {
    background-color: #0000000c;
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.text {
    display: none;
}

.icon2 {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: 320px;
}

.text2 {
    margin-top: 320px;
}


.sidebar:hover .text {
    display: inline;
}

.sidebar-item:hover .text {
    display: inline;
}

main {
    padding: 10px;
    padding-top: 0;
}

.order-card {
    display: flex;
    gap: 10px;
    width: 90%;
    max-width: 1200px;
    background-color: #f8d8d8;
    padding: 15px;
    margin:30px;
    margin-left: 50px;

}

.items {
    flex: 3;
}

.order-item {
    order: 1;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.order-card img {
    width: 100px;
    height: 75px;
    margin-right: 20px;
    background-color: #b3b3b3;
    border-radius: 15px;
}

.order-info {
    flex-grow: 1;
}

.order-title {
    margin: 0;
    font-weight: bold;
}

.order-price {
    margin: 0;
    color: #888;
}

.total {
    margin-right: -110px;
}

.status {
    background-color: white;
    border: 1px solid #888;
    align-self: flex-end;
    border-radius: 8px;
    width: 120px;
    text-align: center;
}

.popup{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup-regis{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup-content{
    height: 320px;
    width: 400px;
    background: #F5D0D0;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.popup-content-regis{
    height: 450px;
    width: 400px;
    background: #f7f4f4;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.popup-content h2 {
    font-size:30px;
}

input{
    margin: 20px auto;
    display: block;
    width: 55%;
    padding: 8px;
    border: 1px solid gray;  
    border-radius: 20px; 
    font-size: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-login {
    margin: 15px auto;
    width: 40%;
    padding: 8px;
    border: 1px solid rgb(0, 0, 0);  
    border-radius: 20px; 
    background-color: #C85E5E;
    font-size: medium;
}

.close{
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
}

.register-klik{
    display: block;
    text-align: center;
}


footer {
    background-color: #FFF8F8;
    color: #1f1f1f;
    padding: 20px;
    text-align: center;
    border-top: 2px solid #ABABAB;
    margin-top: 270px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: left;
    padding: 20px 0;
}

.footer-section {
    width: 200px;
}

.footer-section p a {
    color: rgb(51, 51, 51);
}

.footer-bottom {
    margin-top: 20px;
}