<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOP PAGE</title>
    <link rel="stylesheet" href="styles/style2.css">
</head>

<body>
    <header id="home">
        <%- include("../partials/sidebar") %>

    </header>

    <!-- jika data user ada, tampilkan section dengan user pada database -->
    <% if (user) { %>
        <section class="akun">
            <img src="images/default-profile.jpg" alt="foto-profile">
            <div class="text-container">
                <p class="label"><%= user %></p>
                <p class="isi">Customer123@gmail.com</p>
            </div>
    
        </section>
    
        <section class="data">
            <div class="detail-isi">
                <p class="label">Full Name</p>
                <p class="nama">Customer123</p>
            </div>
            <div class="detail-isi">
                <p class="label">Email</p>
                <p class="email">Customer123@gmail.com</p>
            </div>
            <div class="detail-isi">
                <p class="label">No. Phone</p>
                <p class="nomorhp">+62 856-9256-7169</p>
            </div>
            <div class="detail-isi">
                <div class="alamat">
                    <p class="label">Address</p>
                    <textarea id="address"
                        disabled>Perumahan Bumi Permai, Jalan Gondang Jati 17, RT 09 RW 03, Kelurahan Kaliran, Kecamatan Kaliwangi, Kota Malang, Jawa Timur, 224352</textarea>
                    <button class="edit-button" onclick="enableEditing()">&#9998;</button>
                </div>
            </div>
        </section>
    <% } %>

    <!-- jika tidak ada, tampilkan section tanpa user -->
    <section class="akun">
        <img src="images/default-profile.jpg" alt="foto-profile">
        <div class="text-container">
            <p class="label">Customer123</p>
            <p class="isi">Customer123@gmail.com</p>
        </div>

    </section>

    <section class="data">
        <div class="detail-isi">
            <p class="label">Full Name</p>
            <p class="nama">Customer123</p>
        </div>
        <div class="detail-isi">
            <p class="label">Email</p>
            <p class="email">Customer123@gmail.com</p>
        </div>
        <div class="detail-isi">
            <p class="label">No. Phone</p>
            <p class="nomorhp">+62 856-9256-7169</p>
        </div>
        <div class="detail-isi">
            <div class="alamat">
                <p class="label">Address</p>
                <textarea id="address"
                    disabled>Perumahan Bumi Permai, Jalan Gondang Jati 17, RT 09 RW 03, Kelurahan Kaliran, Kecamatan Kaliwangi, Kota Malang, Jawa Timur, 224352</textarea>
                <button class="edit-button" onclick="enableEditing()">&#9998;</button>
            </div>
        </div>
    </section>

    <%- include("../partials/footer") %>


    <script src="scripts/scripts.js"></script>
</body>

</html>